{:index 0, :time 16671791, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 24107375, :type :ok, :process 0, :f :read, :value []}
{:index 2, :time 325505458, :type :invoke, :process 1, :f :read, :value nil}
{:index 3, :time 332231500, :type :ok, :process 1, :f :read, :value []}
{:index 4, :time 566881291, :type :invoke, :process 2, :f :read, :value nil}
{:index 5, :time 573216500, :type :ok, :process 2, :f :read, :value []}
{:index 6, :time 644430583, :type :invoke, :process 3, :f :read, :value nil}
{:index 7, :time 653630916, :type :ok, :process 3, :f :read, :value []}
{:index 8, :time 921475458, :type :invoke, :process 4, :f :broadcast, :value 0}
{:index 9, :time 1166775416, :type :invoke, :process 0, :f :broadcast, :value 1}
{:index 10, :time 1226528458, :type :invoke, :process 1, :f :read, :value nil}
{:index 11, :time 1227707666, :type :ok, :process 1, :f :read, :value []}
{:index 12, :time 1354461583, :type :invoke, :process 1, :f :read, :value nil}
{:index 13, :time 1356222000, :type :ok, :process 1, :f :read, :value []}
{:index 14, :time 1372373458, :type :invoke, :process 2, :f :broadcast, :value 2}
{:index 15, :time 1649971625, :type :invoke, :process 3, :f :broadcast, :value 3}
{:index 16, :time 1979201375, :type :invoke, :process 1, :f :read, :value nil}
{:index 17, :time 1981571541, :type :ok, :process 1, :f :read, :value []}
{:index 18, :time 2337766791, :type :invoke, :process 1, :f :broadcast, :value 4}
{:index 19, :time 5930824583, :type :info, :process 4, :f :broadcast, :value 0, :error :net-timeout}
{:index 20, :time 6171744083, :type :info, :process 0, :f :broadcast, :value 1, :error :net-timeout}
{:index 21, :time 6373955750, :type :info, :process 2, :f :broadcast, :value 2, :error :net-timeout}
{:index 22, :time 6655789833, :type :info, :process 3, :f :broadcast, :value 3, :error :net-timeout}
{:index 23, :time 7343727541, :type :info, :process 1, :f :broadcast, :value 4, :error :net-timeout}
{:index 24, :time 17346777333, :type :invoke, :process 9, :f :read, :value nil, :final? true}
{:index 25, :time 17349031708, :type :invoke, :process 8, :f :read, :value nil, :final? true}
{:index 26, :time 17349111958, :type :invoke, :process 5, :f :read, :value nil, :final? true}
{:index 27, :time 17349154625, :type :invoke, :process 6, :f :read, :value nil, :final? true}
{:index 28, :time 17349188833, :type :invoke, :process 7, :f :read, :value nil, :final? true}
{:index 29, :time 22351038000, :type :fail, :process 5, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 30, :time 22351091458, :type :fail, :process 6, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 31, :time 22355033666, :type :fail, :process 8, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 32, :time 22355089416, :type :fail, :process 7, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 33, :time 22355104291, :type :fail, :process 9, :f :read, :value nil, :final? true, :error :net-timeout}
